body
{
   background-image:url('back.jpg') ;
   background-repeat:no-repeat;
   background-size: cover
}
form
{
    width:430px ;
    height:305px ;
    margin:50px auto;
       
background-color: #CCC;
border: 5px solid #DDD;
border-radius: 4px;
}
input
{
    
    width:400px;
    margin-top:15px;
    height:40px;
    direction:rtl;
  
    border-radius:5px;
    font-size:25px;
    padding:10px;
   

    
}
select
{
    width: 424px;
    margin-top: 15px;
    height: 61px;
    border-radius:5px;
    direction:rtl;
    
    font-size:30px ;

    padding:10px;
  
   
    
    
 
}
        #submit1
{
    width:250px;
    margin-left:18%;
    margin-top:15px;
    height:55px;
    border-radius:5px;
    padding:10px; 
    color:#FFF;
    font-size:30px;
    background-color:#4cff00;
    border:none;
    cursor:pointer;
}
option
{
    font-size:25px;
   background-color: gainsboro;
   color: blue;
;
}
h1
{
   color:#FFF;
   text-align: center;
}
table td{
    padding: 10px;
    border: 5px solid #CCC;
 background-color: #EEE;
 color:blue;
 font-size: 25px;
    
}